@using MediaLibrary.Web.Core

@{
    ViewBag.Section = "Change log | build " + VersionInfo.BuildDate.ToString("yyyy-MM-dd");
}

<div class="editor-folder">
    <h3>v1.0.1</h3>
    <ul>
        <li>...</li>
    </ul>
    
    <h3>v1.0.0</h3>
    <ul>
        <li>Application base</li>
    </ul>
</div>
